{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card card-body">
                <form method="POST" action="">
                    {% csrf_token %}
                    {{form}}
                    <br>
                    <input type="submit" name="Create" class="btn btn-primary" />
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}