{% extends 'accounts/main.html' %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="card card-body">
                <h5>Contractors</h5>
            </div>
            <div class="card card-body">
                <table class="table">
                    <tr>
                        <th>Contractor</th>
                        <th>Field of Work</th>
                        <th>Phone Number</th>
                        <th>E-mail</th>
                    </tr>
                    
                    <tr>
                        <td>{{contractor.last_name}}, {{contractor.first_name}}</td>
                        <td>{{contractor.field_of_work}}</td>
                        <td>{{contractor.cellphone}}, {{contractor.office_phone}}</td>
                        <td>{{contractor.email}}</td>
                    </tr>
                    
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}