{% extends 'accounts/main.html' %}

{% block content %}

{% include 'accounts/status.html' %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-5 col-xs-12">
            <h5>Contractor</h5>
            <hr>
            <div class="card card-body">
                <a class="btn btn-primary btn-sm btn-block" href="">Create Contractor</a>
                <table class="table table-sm">
                    <tr>
                        <th></th>
                        <th>Contractor</th>
                        <th>Phone</th>
                        <th>Field of Work</th>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-7 col-xs-12">
            <h5>Most Urgent Tickets</h5>
            <hr>
            <div class="card card-body">
                <a class="btn btn-primary btn-sm btn-block" href="">Create Ticket</a>
                <table class="table table-sm">
                    <tr>
                        <th></th>
                        <th>Ticket</th>
                        <th>Status</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}