{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card card-body">
                <p>Are you sure you want to delete "<b>{{ticket}}</b>" ?</p>

                <form method="POST" action="{% url 'delete_ticket' ticket.id %}">
                    {% csrf_token %}
                    <a href="{% url 'home' %}" class="btn btn-info">Cancel</a>
                    <input type="submit" class="btn btn-danger" name="delete" value="Delete" />
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}