{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="{% url 'home' %}" class="navbar-brand">
        <img src="{% static 'images/logo.png' %}" height="60" alt="Ariel Group">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            {% if request.user.is_staff %}
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Dashboard <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'tickets' %}">Tickets</a>
            </li>
            {% endif %}
        </ul>
    </div>
    <span class="navbar-text mr-2">
        Hello, {{request.user}}
    </span>
    <span class="navbar-text">
        <a href="{% url 'logout' %}">Logout</a>
    </span>
</nav>