<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card text-center text-white mb-3 bg-primary" id="total-tickets">
                <div class="card-header">
                    <h5 class="card-title">Total Tickets</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{total_tickets}}</h3>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card text-center text-white mb-3 bg-success" id="resolved-tickets">
                <div class="card-header">
                    <h5 class="card-title">Resolved Tickets</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{resolved_tickets}}</h3>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card text-center text-white mb-3 bg-warning" id="open-tickets">
                <div class="card-header">
                    <h5 class="card-title">Opened Tickets</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{opened_tickets}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>