{% extends 'accounts/main.html' %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="card card-body">
                <h5>Tickets</h5>
            </div>
            <div class="card card-body">
                <table class="table">
                    <tr>
                        <th>Ticket</th>
                        <th>Category</th>
                        <th>Date Created</th>
                        <th>Status</th>
                        <th></th>
                        <th></th>
                    </tr>
                    {% for ticket in tickets %}
                    <tr>
                        <td width="50%">{{ticket.ticket}}</td>
                        <td>{{ticket.get_category_display}}</td>
                        <td>{{ticket.date_created}}</td>
                        <td><span class="badge badge-primary">{{ticket.get_status_display}}</span></td>
                        <td><a href="{% url 'update_ticket' ticket.id %}" class="btn btn-sm btn-primary"><i class="far fa-edit"></i></a></td>
                        <td><a href="{% url 'delete_ticket' ticket.id %}" class="btn btn-sm btn-success"><i class="far fa-check-circle"></i></a></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}